body {
  margin: 0;
  padding: 30px;
  font-family: $font-family-sans-serif;
  background-color: lighten($uoc-masterbrand, 25%);
  color: $uoc-corporate;
}

/*Components*/

.card {
  @apply m-5 border-solid border border-gray-600 rounded;
}

.card-tag {
  @apply bg-aquaman-light border border-aquaman-dark;
}

.card-tag-title {
  @apply text-center text-2xl font-medium my-2;
}

.card-tag-subtitle {
  @apply text-center text-xl font-medium my-1;
}

.card-tag-p {
  @apply text-center text-xs font-light m-2;
}